<section>
	<ng-form>
	<table class='table table-condensed en-block-spacing' style=table-layout:fixed' 'ng-show=en$jsonrpc.endpoints.length>
		<colgroup>
			<col style="width: 10%;">
			<!--  Name of the endpoint -->
			<col style="width: 20%;">
			<!--  Methods -->
			<col style="width: 70%;">
			<!--  Descriptor -->
		</colgroup>
		<thead>
			<tr>
				<th>Name</th>
				<th>Methods</th>
				<th>Descriptor</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat='e in en$jsonrpc.endpoints'>
				<td>{{e.name}}</td>
				<td><span ng-repeat='m in e.methods'><code>{{m}}</code><br></span>
				</td>
				<td>

					<div ng-repeat='(k,v) in e.descriptor' class=ps-attributes>
						<label><code>{{k}}</code></label>
						<code>{{v|limitTo:50}}</code>
					</div>
			</tr>
		</tbody>
	</table>

	<fieldset>
		<input type="text" ng-model=newEndpoint en-label='New Endpoint'
			class='form-control input-sm'>
	</fieldset>
	<div class='pull-right en-block-spacing'>
		<button
			ng-disabled=!newEndpoint
			class="btn btn-sm btn-default btn-primary" type="button"
			ng-click='en$jsonrpc.endpoint(newEndpoint)'>Add Endpoint</button>
	</div>
	</ng-form>
</section>