<section>

	<fieldset class=ps-attributes>
		<span en-label='Roundtrip avg'>{{en$jsonrpc.roundtrip.avg
			|number:0}} ms</span> <span en-label=min>{{en$jsonrpc.roundtrip.min|
			number:0}} ms</span> <span en-label=max>{{en$jsonrpc.roundtrip.max|
			number:0}} ms</span>
	</fieldset>


	<hr>

	<div class='pull-right'>
		<button type="button" class="btn btn-primary" ng-click='ping()'>Ping</button>
		<button type="button" class="btn" ng-click='en$jsonrpc.clear()'
			ng-disabled=en$jsonrpc.history.length==0>Clear</button>
	</div>

	<table class='table table-condensed' ng-show=en$jsonrpc.history.length>
		<colgroup>
			<col style="width: 5%;">
			<!--  Checkbox for open -->
			<col style="width: 5%;">
			<!--  id -->
			<col style="width: 10%;">
			<!--  Method -->
			<col style="width: 20%;">
			<!--  Params -->
			<col style="width: 25%;">
			<!--  Result -->
			<col style="width: 25%;">
			<!--  Result -->
			<col style="width: 5%;">
			<!--  Roundtrip -->
		</colgroup>
		<thead>
			<tr>
				<th>Status</th>
				<th>Id</th>
				<th>Method</th>
				<th>Params</th>
				<th>Result</th>
				<th>Error</th>
				<th>ms</th>
			</tr>
		</thead>
		<tbody ng-repeat='h in en$jsonrpc.history'>
			<tr ng-class='{danger: h.error}'>
				<td><input type=checkbox ng-model=close ng-show=h.error>
					<span class='glyphicon glyphicon-ok-sign' ng-show=!h.error></span></td>
				<td>{{h.result.id}}</td>
				<td>{{h.method}}</td>
				<td>{{h.params.toString() | limitTo: 200}}</td>
				<td style='max-height:100pt;overflow:auto;'>{{h.result.result | limitTo: 200}}</td>
				<td>{{h.result.error}}</td>
				<td>{{h.roundtrip}}</td>
			</tr>
			<tr ng-show=close class=danger>
				<td colspan=5>{{h.error}}
					<div style='font: smallest' ng-bind-html="h.data"></div>
				</td>
			</tr>
		</tbody>
	</table>


	<div ng-show=result>
		<label>Response</label><span>{{result}}</span>
	</div>
</section>