<section ng-cloak class=circuit>
	<h1>ICs</h1>
	<div class=row style="min-height:400px;position:relative" canvas>
		<div class="ics" ng-repeat="ic in circuit.ics" draggable=true style="width:120px;max-width:120px;position:absolute;left:{{130*$index}}px;top:0px;">
			<table class="table table-small" style="border:1px solid gray;margin-left:1em;padding:1em">
				<colgroup>
					<col style="width:50%">
					<col style="width:50%">
				</colgroup>
				<thead>
					<tr>
						<th colspan=2 style="text-align:center">{{ic.deviceId}}</th>
					</tr>
				</thead>
				<tbody>
					<tr class=ic>
						<td>
							<div class=input ng-repeat="in in ic.inputs" droplink="circuit.connect(fromDevice,fromPin,toDevice,toPin)" device="ic.deviceId" pin="in.name">
								{{in.name}}
								<div ng-class="{on: in.value, off: !in.value}"></div>
							</div>
						</td>
						<td>
							<div class=output ng-repeat="out in ic.outputs" draglink device="ic.deviceId" pin="out.name">
								{{out.name}}
								<div ng-class="{on: out.value, off: !out.value}"></div>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	<h1>Wires</h1>
	<table class="wires table small-table">
		<colgroup>
			<col style="width: 10%">
			<col style="width: 35%">
			<col style="width: 35%">
			<col style="width: 10%">
			<col style="width: 10%">
		</colgroup>
		<thead>
			<tr>
				<th>Wire ID</th>
				<th>From</th>
				<th>To</th>
				<th>Active</th>
				<th>Cmd</th>
			</tr>
		</thead>
		<tbody>
			<tr class=wire ng-repeat="wire in circuit.wires">
				<td>{{wire.wireId}}</td>
				<td>{{wire.fromDevice}}.{{wire.fromPin}}</td>
				<td>{{wire.toDevice}}.{{wire.toPin}}</td>
				<td>{{wire.wired}}</td>
				<td><div ng-click=circuit.disconnect(wire.wireId)>&times;</div>
			</tr>
		</tbody>
	</table>
</section>
